aircv == 1.4.6
Appium-Python-Client == 0.28
numpy == 1.15.1
opencv-python == 3.4.2.17
Pillow == 5.2.0
pytesseract == 0.2.4
PyYAML == 5.4
selenium == 3.14.0
uiautomator2 == 0.1.4.dev11
urllib3 == 1.22
XlsxWriter == 1.0.9